# -----------------------
# Node
# -----------------------
node_modules/
dist/
build/

# -----------------------
# Python
# -----------------------
venv/
.venv/
__pycache__/
*.pyc
*.pyo

# -----------------------
# ML Models
# -----------------------
*.joblib

*.h5

# -----------------------
# Environment
# -----------------------
.env
.env.local

# -----------------------
# IDE
# -----------------------
.vscode/
.idea/

# -----------------------
# OS
# -----------------------
Thumbs.db
.DS_Store

# -----------------------
# Logs
# -----------------------
*.log

# -----------------------
# Coverage
# -----------------------
coverage/
htmlcov/
.pytest_cache/

# -----------------------
# Temporary Files
# -----------------------
temp/
tmp/