@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  overflow-x: hidden;
  background: linear-gradient(
    135deg,
    #020617,
    #0f172a,
    #111827
  );
  color: white;
  font-family: Inter, sans-serif;
}

* {
  box-sizing: border-box;
}